body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0d8d8;
  height: 100%;
}

.titulo {
  text-align: center;
  padding: 40px 20px;
}

.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto1 {
  max-width: 400px;
  margin: 20px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}
.parte1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.imagem1 {
  width: 350px;
  height: auto;
  justify-items: center;
  transition: transform 0.2s ease;
}

.imagem1:hover {
  transform: scale(1.03);
}
.texto2 {
  max-width: 400px;
  margin: 20px;
  margin-bottom: 80px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}

.foto-mixer-players {
  height: auto;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-mixer {
  width: 300px;
  height: auto;
  justify-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 10px;
}
.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  gap: 30px;
  margin-bottom: 40px;
}

audio::-webkit-media-controls-panel {
  background-color: #b5afaf;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
audio::-webkit-media-controls-enclosure {
  border-radius: 0;
  box-shadow: none;
  background-color: #b5afaf;
}

.texto3 {
  max-width: 400px;
  margin: 20px;
  margin-top: 80px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}

.texto4 {
  max-width: 400px;
  margin: 20px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}

.video-maxmsp {
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
